.main-container-page-with-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100vh
}

.main-container-page-with-footer__content {
  flex: 1 1 auto;
}

.main-container-page-with-footer__body {
  height: calc(100% - 143px);
  display: flex;
  background: #111d39;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-container-page-with-footer__footer {
  flex: 0 0 auto;
}

.book {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.black {
  color:white;
}

.book__list {
  &-items {
    color: white;
  }
  color: white;
}