@import './fonts/fonts.scss';
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';
@import './components/Wrapper/Wrapper.scss';
@import './components/CsvContainer/CsvContainer.scss';


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
}

#root {
  margin: 0 auto;
  height: 100%;
}

a[class] {
  text-decoration: none;
  margin-left: 0;
}

li[class] {
  list-style: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
}

button,
button:active,
button:focus {

  cursor: pointer;
}

.book__form {
  width: 100%;
}

.book__list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book__input-item {
  min-width: 280px;

  &:nth-child(3) {
    min-width: 400px;
  }

  &:nth-child(4) {
    min-width: unset;
    max-width: 60px;
  }
}